body {
	margin-top: 50px;
}

section {
	margin-top: 50px;
}

#myCarousel img {
	width: 100%;
}
.brand-color {
	color: green;
}

#search-box {
	width: 250px;
}

#features .thumbnail {
	border: none;
}

#features .thumbnail .btn{
	width: 100%;
}

.label {
	font-size: 18px;
	position: absolute;
	top: -5px;
	right: 5px;
	padding: 10px;
}

.label .tag {
	margin-right: 15px;
}

ul {
	padding-left: 0;
}
li {
	text-decoration: none;
	list-style: none;
}

footer {
	color: #fff;
	background-color: #222222; 
	overflow: auto;
}

footer .row {
	margin: 20px 10px;
}